@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


@import './index.scss';



* {
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
}

p {
    font-size: 14px;
    color: rgba(#000000, .8);
    font-weight: 600;
    margin-bottom: 0;

}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}


label.required::after {
    content: '*';
    margin-left: 4px;
    color: #FF0000;
    opacity: .8;
}

label.required+span,
span.required {
    font-size: 12px;
    margin-top: 8px;
    float: right;
}

label {
    font-size: 14px;
    color: #000000;
    opacity: .8;
    font-weight: 500;
}


.cocialMediaLinking {

    .progress-bar {
        background-color: #000000;
        border-radius: 4px;
        padding: .5rem .8rem;
        text-align: unset;
        justify-content: unset;
        color: #FFFFFF;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 1rem;

    }
}

.btn.btn-primary {
    background-color: #3490DC;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    padding: 7px 3rem;
    position: relative;
    z-index: 999;

    @include small {
        padding: 7px 1rem;
    }
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: unset !important;
}


.inputLabel_container {
    input {
        max-width: 400px;
    }
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;

    label {
        cursor: pointer;
    }

    input {
        margin-right: .5rem;
        cursor: pointer;
    }
}

.addProduct {
    margin: 4rem;
    position: relative;
}

.back_btn {
    position: absolute;
    top: 0;
    left: 1rem;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    background-color: transparent;
    border: unset;
    cursor: pointer;
    text-transform: capitalize;
}